.blog{
    margin-top: 60px;
    background-color:rgba(235, 221, 221, 0.829);
}
.side{
    background-color: rgba(88, 39, 39, 0.568);
}
.sideCategory{
    background-color: rgba(39, 88, 72, 0.568);
}

